body{
    margin: 0;
    background: radial-gradient( rgba(233, 189, 255, 0.4),#fff);
    font-family: 'Josefin Sans', sans-serif;    
    max-width: 100%;
}
#home-content{
    height: 75vh;    
    margin: 3em 2.2em;
    background: radial-gradient( rgba(71, 218, 255,0.2),#fff);    
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 3.5em; 
}
#brand-name{
    width: 10.5em;
    height: 6em;
    line-height: 2;
    font-family: 'Courgette', cursive;
    font-size: 1.5em;
    letter-spacing: 0.5rem;
}
#brand-name::first-letter{
    font-size: 7em;    
    font-family: 'Pacifico', cursive;
    color: gray;
    float: left;
    line-height: 1;
    margin-top: -0.3em;
}
#brand-story{
    width: 10.2em;
    margin-top: 2em;
    font-weight: 500;
    font-size: larger;
}
.home-button{
    border: none;
    padding: 0.5em 1.2em;
    background-color: rgba(71, 218, 255,0.3);
    border-radius: 5em;
    margin-top: 2em;
    font-weight: 500;     
}
.home-button:focus{
    outline: none;
}
.login-button{
    padding: 0.5em 1.5em;
    background-color: rgba(233, 189, 255, 0.4);    
}
.home-button:hover{
    background-color: rgba(71, 218, 255,0.15);    
}
.login-button:hover{
    background-color: rgba(233, 189, 255, 0.2);
}


@media screen and (min-width: 599px ) {
    #brand-story{       
        font-size: 1.5em;
        font-weight: 400;
    }
    #home-button-container{
        padding-right: 0.8em;
        width: 15em;       
    }
    .home-button{
        font-size: 1.2em;        
    }  
}
@media screen and (min-width: 958px) {
    .mqy-home-container{
        display: flex;
        flex-flow: row nowrap;      
        margin: 1.1em 3em;        
    }   
    #home-content{
        height: 85vh;        
        margin: 0;    
        border-right: 2px solid rgba(71, 218, 255,0.5);
        padding-top: 0.5em;
        background-color: rgba(71, 218, 255,0.5);
        background-image: none;
        flex-grow: 2;
    }
    .home-button{       
        background: radial-gradient( rgba(233, 189, 255, 0.5),#fff);    
        border-radius: 1em;
        margin-top: 1em;
        font-size: 1.3em;
    }
    .home-button:hover{
        box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    }   
}
@media screen and (min-width: 1278px) {
    .mqy-home-container{
        margin: 1.1em 6em
    }
   
}
@media screen and (min-width: 1438px) {
    .mqy-home-container{
        margin: 1.1em 9em;
    }
}