.brand-logo{
    width: 3.2em;
    height: 3.2em;
    border-radius: 50%;
    background-color: rgba(71, 218, 255,0.3);
    color: gray;
    display:flex;
    justify-content: center;
    align-items: center;      
    font-family: 'Pacifico', cursive;
    animation: rotate 7s ease-in-out 2s infinite alternate;
}

@keyframes rotate {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(180deg);}
    75%{transform: rotate(360deg);}
    100%{transform: rotate(360deg);}
}

.brand-logo div{
    text-align: center;
    font-size: 2.2em; 
}
.icon{
    font-size: 1.8em;
}
nav{
    max-width: 100%;
}